[project]
name = "berdl_notebook_utils"
version = "0.0.1"
description = "berdl_notebook_utils"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "berdl-notebook-python-base",
]

[dependency-groups]
dev = [
    # Development tools
    "pytest==8.4.2",
    "ruff==0.14.4",
]

[tool.ruff]

exclude = [
    ".git",
    ".ipynb_checkpoints",
    ".ruff_cache",
    ".venv",
    ".vscode",
    "__pypackages__",
    "_build",
    "venv",
]

line-length = 120
indent-width = 4
target-version = "py312"
[tool.ruff.lint]
select = ["E", "F", "W"]
fixable = ["ALL"]
unfixable = []
dummy-variable-rgx = "^(_+|(_+[a-zA-Z0-9_]*[a-zA-Z0-9]+?))$"

[tool.ruff.format]
quote-style = "double"
indent-style = "space"
skip-magic-trailing-comma = false
line-ending = "auto"
docstring-code-format = false
docstring-code-line-length = "dynamic"

[tool.pytest.ini_options]
testpaths = ["tests"]
pythonpath = ["."]
addopts = "-v"

[tool.uv.sources]
berdl-notebook-python-base = { git = "https://github.com/BERDataLakehouse/spark_notebook_base.git" }

[tool.ruff.lint.per-file-ignores]
"**/cdm_spark_cluster_manager_api_client/**/*.py" = ["E501"]
